@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url(../../assets/SourceSans3-Italic-VariableFont_wght.ttf) format('ttf');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../../assets/SourceSans3-VariableFont_wght.ttf) format('ttf');
}

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
}
.app {
    display: flex;
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #e0e0e0;
}
::-webkit-scrollbar-track:hover {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
