# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
*/**/node_modules
dist
dist-ssr
**/dist
*.local

backend/src/schema.gql

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.env
config.yml

# Tests
/coverage
/.nyc_output

/test-data
